
@{
    ViewData["Title"] = "Index";
}


<div class="py-5  container">
    <div class="row flex-column align-items-center gap-5 w-100">
        <h4 class="mb-4 bg-primary text-light p-2  text-center">About</h4>
        <p class=" col-lg-6 col-md-8 col-sm-12 justify-content-center fst-italic text-dark text-center">
            Our electronic library serves as a comprehensive digital resource hub, designed to provide users with seamless access to a vast array of books. We are committed to fostering a love for reading, research, and lifelong learning by offering a user-friendly platform that caters to diverse community needs.
        </p>
    </div>
</div>
                                

