@model UserVM

@{
    ViewData["Title"] = "Edit";
}

@section header  {
    User
}
@section headerBreadcrumb1 {
    User
}
@section headerBreadcrumb2 {
    Edit
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4 bg-primary text-light p-2 text-center">Edit</h4>
            <form class="forms-sample" asp-controller="Accounts" asp-action="Edit" enctype="multipart/form-data">
                <input type="hidden" asp-for="Img" />
                <input asp-for="Id" type="hidden" />

                <div class="form-group">
                    <label asp-for="Image">User Image</label>
                    <input asp-for="Image" class="form-control">
                    <span asp-validation-for="Image" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="UserName">User Name</label>
                    <input asp-for="UserName" class="form-control">
                    <span asp-validation-for="UserName" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control" type="hidden">

                </div> 
                <div class="form-group">
                    <label asp-for="PhoneNumber">Phone</label>
                    <input asp-for="PhoneNumber" class="form-control">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Address">Address</label>
                    <input asp-for="Address" class="form-control">
                    <span asp-validation-for="Address" class="text-danger"></span>

                </div>
                <div class="form-group lh-1">
                    <label asp-for="IsDeleted">IsDeleted :</label>
                    <input asp-for="IsDeleted">
                    <span class="fst-italic">@(Model.IsDeleted ? "Deleted" : "Active")</span>
                </div>

                <button type="submit" class="btn btn-primary me-2">Update</button>
                <button asp-controller="Accounts" asp-action="Index" class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>