@{
    ViewData["Title"] = "Home Page";
}

@{

    var categories = ViewData["Categories"] as IEnumerable<Library.PL.Areas.Dashboard.ViewModels.CategoryVM>;
    var books = ViewData["Books"] as IEnumerable<Library.PL.Areas.Dashboard.ViewModels.BookVM>;
    var msg = TempData["Success"] as string;
}

<section class="container" style="background-image: url('files/book.png'); background-repeat: no-repeat; background-size: cover; height:500px">
    <div class="container-lg">
        <div class="row">

        </div>



    </div>
</section>


<section class="py-5 overflow-hidden container">
    <div class="px-0">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header d-flex flex-wrap justify-content-between mb-5">
                    <h2 class="section-title">Category</h2>

                    <div class="d-flex align-items-center">
                        <a asp-controller="Categories" asp-action="Index" class="btn btn-primary me-2">View All</a>
                        <div class="swiper-buttons">
                            <button class="swiper-prev category-carousel-prev btn btn-yellow">❮</button>
                            <button class="swiper-next category-carousel-next btn btn-yellow">❯</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="category-carousel swiper">
                    <div class="swiper-wrapper">
                        @{
                            if (categories.Count() != 0)
                            {
                                foreach (var category in categories)
                                {
                                    <div class="swiper-slide text-center">
                                        <img src="~/files/categories/@category.Img" class="rounded-circle border border-1 border-dark" alt="Category Thumbnail" width="130" height="130">
                                        <h4 class="fs-6 mt-3 fw-normal category-title">@category.Name</h4>
                                    </div>
                                }

                            }
                            else
                            {
                                <div class="d-flex justify-content-center w-100">
                                    <h4 class="text-danger">No categories</h4>
                                </div>
                            }
                        }


                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="py-5 overflow-hidden container">
    <div class="px-0">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header d-flex flex-wrap justify-content-between mb-5">
                    <h2 class="section-title">Book</h2>

                    <div class="d-flex align-items-center">
                        <a asp-controller="Books" asp-action="Index" class="btn btn-primary me-2">View All</a>
                        <div class="swiper-buttons">
                            <button class="swiper-prev book-carousel-prev btn btn-yellow">❮</button>
                            <button class="swiper-next book-carousel-next btn btn-yellow">❯</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="book-carousel swiper">
                    <div class="swiper-wrapper">
                        @{
                            if (books.Count() != 0)
                            {
                                foreach (var book in books)
                                {
                                    <a class="nav-link swiper-slide text-center" style="width:140px;margin-right:50px" asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">
                                        <img src="~/files/images/@book.Img" class="rounded-circle border border-1 border-dark" alt="Book Thumbnail" width="130" height="130">
                                        <h4 class="fs-6 mt-3 fw-normal Book-title">@book.Title</h4>
                                    </a>
                                }

                            }
                            else
                            {
                            <div class="d-flex justify-content-center w-100">
                                <h4 class="text-danger">No books</h4>
                            </div>
                                }
                            }



                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        window.onload = () => {
             if ("@msg" !== ""  ) {
const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.onmouseenter = Swal.stopTimer;
    toast.onmouseleave = Swal.resumeTimer;
  }
});
Toast.fire({
  icon: "success",
    title: "You login successfully"
});

            }


        }


    </script>


}