
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="col-12 p-5 px-5 my-4  d-flex justify-content-center align-items-center container" style="height:500px">
    <div class="row  gy-3">

        <div class=" d-flex justify-content-center align-items-center gap-4  ">
        <i class="mdi mdi-alert-octagon text-danger fs-1"></i>
            <h1 class="text-danger">Access Denided</h1>
        </div>
    </div>
</div>