@model Library.PL.ViewModels.ForgotPasswordVM

@{
    ViewData["Title"] = "ForgotPassword";
}

@{ 
    var error = TempData["Error"] as string;
}

<div class="col-12  p-5 px-5 my-4 container">
    <h4 class="card-title mb-4 bg-primary text-light p-2  text-center ">Reset Password</h4>
    <div class="card py-3 px-1  border border-1 border-dark rounded-5  ">
        <div class="card-body ">
            <form class="forms-sample row flex-column align-items-center gap-4" asp-controller="Accounts" asp-action="ResetPassword">
                <div class="form-group d-flex flex-column  col-xl-4 col-lg-5 col-md-7 col-sm-9 p-0">
                    <label for="exampleInputEmail1">Email</label>
                    <input asp-for="Email" class="form-control border bordr-1 border-dark text-dark" />
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>

                <button type="submit" class="btn btn-primary col-xl-4 col-lg-5 col-md-7 col-sm-9">Submit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        window.onload = () => {
             if ("@error" !== "") {
const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.onmouseenter = Swal.stopTimer;
    toast.onmouseleave = Swal.resumeTimer;
  }
});
Toast.fire({
  icon: "error",
  title: "@TempData["Error"]"
});

            }
        }


    </script>


}