<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center mb-5">
        <a class="sidebar-brand brand-logo text-decoration-none fs-3" asp-controller="Books" asp-action="Index">
            <i class="mdi mdi-library fs-1 menu-icon"></i>
            Library
        </a>
        <a class="sidebar-brand brand-logo-mini ps-4 pt-3" asp-controller="Books" asp-action="Index">
            <i class="mdi mdi-library fs-4 menu-icon"></i>
        </a>
    </div>
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" asp-controller="Books" asp-action="Index">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#book" class="nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-bookshelf menu-icon"></i>
                <span class="menu-title">Book</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="book">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a asp-controller="Books" asp-action="Index" class="nav-link">All Books</a></li>
                    <li class="nav-item"> <a asp-controller="Books" asp-action="Create" class="nav-link">Create </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a href="#category" class="nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="icons">
                <i class="mdi mdi-shape menu-icon"></i>
                <span class="menu-title">Category</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="category">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a asp-controller="Categories" asp-action="Index" class="nav-link">All Categories</a></li>
                    <li class="nav-item"> <a asp-controller="Categories" asp-action="Create" class="nav-link">Create</a></li>

                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a href="#user" class="nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="forms">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">User</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="user">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a asp-controller="Accounts" asp-action="Index" class="nav-link">All Users</a></li>
                    <li class="nav-item"> <a asp-controller="Accounts" asp-action="Register" class="nav-link">Create</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a href="#role" class="nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="forms">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">User</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="role">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a asp-controller="Accounts" asp-action="Roles" class="nav-link">All Roles</a></li>
                    <li class="nav-item"> <a asp-controller="Accounts" asp-action="CreateRole" class="nav-link">Create</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item sidebar-actions">
            <div class="nav-link">
                <div class="mt-4">
                    <ul class="mt-4 ps-0">
                        <li>Sign Out</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</nav>