<div class="container">
    <div class="row flex-column gap-4 align-items-center justify-content-center">

        <div class="col-12 text-center">
            <div class="footer-menu">
                <h2 class="logo">Library</h2>
                @*<img src="~/site/images/logo.svg" width="240" height="70" alt="logo">*@
            </div>
        </div>

        <div class="col-12">
            <div class="footer-menu">
                <ul class="menu-list list-unstyled d-flex justify-content-center gap-3 flex-wrap w-100">
                    <li class="nav-item active">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a asp-controller="Books" asp-action="Index" class="nav-link">Books</a>
                    </li>
                    <li class="nav-item active">
                        <a asp-controller="Categories" asp-action="Index" class="nav-link">Categories</a>
                    </li>
                    <li>
                        <a asp-controller="About" asp-action="Index" class="nav-link">About</a>

                    </li>
                </ul>
            </div>
        </div>

        <div id="footer-bottom" class="container ">
            <div class="container-lg">
                <div class="row">
                    <div class="col-md-6 copyright">
                        <p>© 2024 Organic. All rights reserved.</p>
                    </div>
                    <div class="col-md-6 credit-link text-start text-md-end">
                        <p>HTML Template by <a href="https://templatesjungle.com/">TemplatesJungle</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a> </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>