@inject Microsoft.AspNetCore.Identity.UserManager<Library.DAL.Models.ApplicationUser> UserManager


<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container">
        <a asp-controller="Home" asp-action="Index" class="text-decoration-none fs-3 ">
            Library
            @*<img src="~/site/images/logo.svg" alt="logo" class="img-fluid">*@
        </a>        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-center align-items-center">
                            <li class="nav-item active">
                                <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item active">
                                <a asp-controller="Books" asp-action="Index" class="nav-link">Books</a>
                            </li>
                            <li class="nav-item active">
                                <a asp-controller="Categories" asp-action="Index" class="nav-link">Categories</a>
                            </li>
                            <li>
                                <a asp-controller="About" asp-action="Index" class="nav-link">About</a>

                            </li>
                        </ul>
                        @{
                            var user = await UserManager.GetUserAsync(User);
                            if (user != null)
                            {
                                                <div class="d-flex justify-content-center">
                                                    <div class="dropdown d-flex justify-content-center" style="width:70px">
                                                        <button class="btn  dropdown-toggle p-0  " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <img src="~/files/users/@user.Img" alt="user img" width="50" height="50" class="rounded-circle" />
                                                        </button>
                                                        <ul class="dropdown-menu shadow" style="left:unset !important" data-bs-popper="static">
                                                            <li>
                                                                <a class="dropdown-item text-center px-0 mx-0" asp-controller="Accounts" asp-action="Profile" asp-route-id="@user.Id">Profile</a>
                                                            </li>
                                                            <li>
                                                                <form method="post" asp-controller="Accounts" asp-action="Logout" class="dropdown-item text-center">
                                                                    <button type="submit" class="dropdown-item">Logout</button>
                                                                </form>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                            }
                            else
                            {
                                <ul class="d-flex justify-content-end list-unstyled m-0 gap-4 justify-content-center">
                                    <li>
                                        <a asp-controller="Accounts" asp-action="Login" class="nav-link text-dark">
                                            Login
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Accounts" asp-action="Register" class="nav-link text-dark">
                                            Register
                                        </a>
                                    </li>
                                </ul>
                            }
                        }

                    </div>
    </div>
</nav>


